# User specific
.dotnet_home/
.nuget_packages/
.nuget_cache/
.nuget_plugins/
.nuget_scratch/

testScripts/
exports/

# Build results
[Bb]in/
[Oo]bj/
dist/

# IDEs
.idea/
.vscode/
*.swp
*.suo
*.user
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Dotnet
.net/
artifacts/
BenchmarkDotNet.Artifacts/

# Database
*.db
*.duckdb
*.sqlite
*.sqlite3

# Test Data
tests/output/*
tests/DtPipe.Tests/Data/Target/*
!tests/DtPipe.Tests/Data/Target/.gitkeep
tests/scripts/artifacts/
!tests/scripts/artifacts/.gitkeep
